#home-page {
    width: 100vw;
    height: 100vh;
}

#home-page #topnav {
    margin-bottom: 0rem;
}

#home-page .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/Images/bg-1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

#home-page .hero-text {
    color: #fff;
    font: 700 1.2rem Archivo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#home-page .hero-text h1 {
    font: 700 4.2rem Archivo;
}

#home-page .hero-text p {
    font: 700 1.8rem Archivo;
    margin-top: 0.8rem;
}

#home-page .hero-text img {
    border-radius: 50%;
    height: 250px;
}

#home-page .hero-text a {
    height: 5.8rem;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 2px solid black;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 1.2rem;
}

#home-page .hero-text a:hover {
    background-color: #000;
    color: #fff;
}

#home-page fieldset {
    margin-top: 2.4rem;
    border: 0;
    padding: 0 2.4rem;
    text-align: center;
}

#home-page fieldset+fieldset {
    margin-top: 6.4rem;
}

#home-page fieldset legend {
    font: 700 1.8rem Archivo;
    color: #222;
    margin-bottom: 2.4rem;
    justify-content: start;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 2px solid #000;
}

#home-page fieldset div {
    display: flex;
    flex-direction: column;
}

#home-page fieldset div a {
    height: 5.8rem;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 2px solid black;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 1.2rem;
}

#home-page fieldset div a:hover {
    background-color: #000;
    color: #fff;
}

#home-page footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1.8rem
}

#home-page footer button {
    height: 5.8rem;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 2px solid black;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 1.2rem;
}

#home-page footer button:hover {
    background-color: #000;
    color: #fff;
}

#home-page .footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 4.5vh;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

@media(min-width:700px) {
    #home-page {
        max-width: 100vw;
    }
    #home-page .topnav {
        margin-bottom: 0;
    }
    #home-page main fieldset legend {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #home-page main fieldset {
        padding: 0 6.4rem;
    }
    #home-page main footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}